set timeout_style=menu
set timeout=3

if loadfont unicode ; then
    set gfxmode=auto
    set gfxpayload=keep
    set gfxterm_font=unicode
    terminal_output gfxterm
fi

menuentry "vhd-boot-dispatch" {
  linux /syslinux/corelinux/vmlinuz64 loglevel=3 waitusb=5 vga=791 next-server=163.26.68.15
  initrd /syslinux/corelinux/corepure64.gz /syslinux/corelinux/tce64.gz
}
